<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function (){
    });
  </script>
<% end %>

<div id="search">                              
  <div id="searchform">
    <%= search_form_for $search, :url => search_items_path, :html => {:method => :post} do |f| %>
			<div class="search-field">			
				<label><%= t("what") %></label>
		    <% if params[:q] && params[:q][:need_eq] %>
		      <%= f.select :need_eq, options_for_select([ [], [t("title.resources.iNeed"), 0], [t("title.resources.iHave"), 1]], :selected => params[:q][:need_eq]), :size => "15" %> 
		    <% else %>
		      <%= f.select :need_eq, options_for_select([ [], [t("title.resources.iNeed"), 0], [t("title.resources.iHave"), 1]]), :size => "15" %> 
		    <% end %>
			</div>
      <div class="search-field">			
				<label><%= t("whatexactly") %></label>
      	<%= f.text_field :title_cont, :size => "15", :class => "search-field-broad" %>
			</div>
      <div class="search-field">			      
				<label><%= t("where") %></label>
				<%= text_field_tag :near, params[:near] || @near, :size => 15, :class =>"ui-corner-all search-field-broad" %>
			</div>
      <div id="searchextended" class="ui-corner-all">
        <h3 class="bold"></h3>
        <table>
					<tr>
						<td class="label"><%= t("searchradius") %></td>
      			<td class="row-big"><%= text_field_tag :within, params[:within] || @within, :size => 8, :class => "ui-corner-all" %></td>
					</tr>
          <tr>
            <td class="label"><%= t("resources.available").html_safe %><br /> (<%= t("from") %> - <%= t("till") %>)</td>
            <td class="row-big">
              <%= f.text_field :from_gt, {:id => "from", :size => 8} %><span class="label"> - </span>
              <%= f.text_field :till_lt, {:id => "till", :size => 8} %>
            </td>
          </tr>
          <tr>
            <td class="label"><%= t("resources.amount") %></td>
            <td class="row-big">
              <%= f.text_field :amount_eq, {:id => "amount", :size => 8} %> &nbsp;
              <%= f.collection_select :measure_id_eq, @measures, :id, :title, :include_blank => true if @measures %>
              <%# select_tag("search[measure_id_equals]", options_from_collection_for_select(@measures, :id, :title), :include_blank => true) %>
            </td>
          </tr>
          <tr>
            <td class="label"><%= t("searchIn") %></td>
            <td class="row-big">
              <%= f.collection_select :item_type_id_eq, @itemtypes, :id, :localized_title, :include_blank => true if @itemtypes %>
              <%# select_tag( :search[item_type].contains, options_from_collection_for_select(@itemtypes, :id, :localized_title), :include_blank => true) %>
            </td>
          </tr>
        </table>
      </div>
    <%= image_submit_tag "icons/icon_magnifier.png", :alt => t("search"), :id => "submit-search", :class => "ui-corner-all" %>
  <% end %>
  </div>                                     
  <div id="searchmenu">
    <a href="#" id="advanced_search" class="icon-arrow-down"><%= t("options") %></a>
  </div>                                 
</div> 
