<fieldset class="formular login shadowed ui-corner-all">
  <br/>
  <%= form_for(:user, :url => user_session_path) do |f| -%>
    <p>
      <label for="login"><%= t("login.label.login") %></label>
      <%= f.text_field :username %>
    </p>
    <br />
    <p>
      <label for="password"><%= t("login.label.password") %></label>
      <%= f.password_field :password %>
    </p>
    <br />
    <p><%= f.check_box :remember_me %><%= f.label t("login.label.remember") %></p>
    
    <div class="formbutton"><%= submit_tag t("login.label.submit") %></div>
  <% end -%>
</fieldset>
