<% content_for :head do %>
  <script type="text/javascript">

    $(document).ready(function (){
       $('#user_username').focus();
    });
  </script>
<% end %>

<fieldset class="formular login shadowed ui-corner-all">
  <br/>
  <%= form_for(@user, :as => :user, :url => session_path(:user)) do |f| -%>
    <p>
      <label for="login"><%= t("login.label.login") %></label>
      <%= f.text_field :username %>
    </p>
    <br />
    <p>
      <label for="password"><%= t("login.label.password") %></label>
      <%= f.password_field :password %>
    </p>
    <br />
    <p><%= f.check_box :remember_me %><%= f.label t("login.label.remember") %></p>

    <div class="formbutton"><%= submit_tag t("login.label.submit"), :id => "submit" %></div>
  <% end -%>
</fieldset>
