<fieldset class="formular login shadowed">
  <br/>
  <% form_tag new_user_session do -%>
    <p>
      <label for="login"><%= t("login.label.login") %></label>
      <%= text_field_tag :login %>
    </p>
    <br />
    <p>
      <label for="password"><%= t("login.label.password") %></label>
      <%= password_field_tag :password %>
    </p>
    <br />
    <p>
      <label for="remember_me"><%= t("login.label.remember") %>:</label>
      <%= check_box_tag 'remember_me' %>
    </p>
    
    <div class="formbutton"><%= submit_tag t("login.label.submit") %></div>
  <% end -%>
</fieldset>
<!--
<p>  
  <%= nav_link t("login.label.forgotPassword"), "email", "remind" %>
</p>
-->
<p>
  <%= t("login.notAMember") %> <%= nav_link t("login.label.register"), "signup" %>
</p>