<% if logged_in? and @item.owner != current_user %>
<div class="pingarea font-smaller">
 <% if !current_user.pinged?(@resource) || @resource.multiple?  %>
    <%= render :partial => "pings/form", :locals => {:pingable => pingable} %>
 <% end %>
</div>
<% elsif not logged_in? %>
  <div class="button ping-submit">   
		<%= link_to @ping_submit, login_path %>
  </div>
<% end %>
<% if pings.size > 0 %>
	<p class="font-small"><%# t("ping.interestedcount", :count => pings.size).html_safe %></p>
<% end %>
<% if pings.size > 0 %>
  <div class="list">
    <% pings.each do |ping| %>  
      <% if ping and ping.is_visible_for?(current_user, logged_in?) %>			
				<div id="ping-<%= ping.id %>" class="ping ui-corner-all <%=h ping.statusTitle %>">    
					<%= render :partial => "share/settings/visible_for", :locals => {:model_type => "Ping", :model_id => ping.id, :current => ping.settings.visible_for, :css_id => "ping-#{ping.id}" } if ping.item.owner == current_user %>	
          <% if ping.owner? %>
            <%= render :partial => "share/usermicro", :locals => { :user => pingerOf(ping) } %>
          <% else %>
            <div class="mircro-user-thumb bordered font-smaller center ui-corner-all">
              <img src="/assets/global/avatar_dummy_micro.png" />
              <br>
              former member
            </div>
          <% end %>
          <div class="info font-smaller">
            <%= distance_of_time_in_words(ping.created_at, Time.now) %> <%= t("ago") %><br />
            <p class="<%=h statusTitle(ping) %>"><%= t(statusTitle(ping)).html_safe %></p> 
          </div>
          <%= simple_format(ping.body, :class => "font-smaller") %>
          <% if @item.itemtype == "Good" %>
            <p class="font-smaller"><%= transferStatus(@item, ping) %></p>
          <% end %>
          <% if @item.itemtype == "Service" %>
            <p class="font-smaller"><%= eventStatus(@item, ping) %></p>
          <% end %>
          <%= render :partial => "pings/pingmenu", :locals => { :ping => ping} %>
      	</div>
      <% end %>
    <% end %>
  </div>
<% end %>
