<% form_for ([@pingable, Ping.new]) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :pingable_id, :value => @pingable.id %>
  <%= f.hidden_field :pingable_type, :value => @pingable.class %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <p class="font-small">
    Comment on : <%=h @pingable.class.to_s %>
  </p>
  <p>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Comment' %>
  </p>
<% end %>
