Hi <%= @owner.login %>,<br />
<a href="<%= @commenter_url %>"><%= @commenter.login %></a> has commented your <a href="<%= @resource_url %>"><%= @title %></a>:<br />
<br />
<p><%= @comment.body %></p>
<br />
<br />
Yours<br />
IWYG-Team<br />