<h1>Listing comments</h1>

<table>
  <tr>
    <th>Id</th> 
    <th>Body</th>
    <th>Commentable</th>
    <th>Commentable type</th>
    <th>Published</th>
    <th>Published at</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%=h comment.id %></td>
    <td><%=h comment.body %></td>
    <td><%=h comment.commentable_id %></td>
    <td><%=h comment.commentable_type %></td>
    <td><%=h comment.published %></td>
    <td><%=h comment.published_at %></td>
    <td><%# link_to 'Show', polymorphic_path(@commentable, comment) %></td>
    <td><%# link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%# link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%# render :partial => "comments/form" %>