<% content_for :head do %>     
  <script type="text/javascript">
    $(document).ready(function (){
  
      /* TABS */
      $("#tabs").tabs();
      showErrorTabs();

  <% if params[:item] && params[:item][:attachable_id] %>
      /* preselect pinged resource (item) */
      id = <%= params[:item][:attachable_id] %>;
      $('#attachments .field-add').click();
      $('#attachments select').val(id);
  <% end %>
  <% if params[:action] == "new" and !params[:item] %>
      /* blank memberlist */
      $("#who .choices-group").find("input ").removeAttr("checked");
  <% end %>
    /* hide additional location fields */
    $("#meetup_locations_attributes_1_address_input, #meetup_locations_attributes_1_city_input, #meetup_locations_attributes_1_zip_input, #meetup_locations_attributes_1_country").hide();
    $("#meetup_locations_attributes_1_country").parent().find("label").hide();
  });
  </script>
<% end %>
<%= semantic_form_for @meetup, :method => "get"   do |f| %>
  <%= render "share/error_messages", :target => @meetup %>
  <div id="tabs">
    <ul>
      <li><a href="#what"><%= t("what") %></a></li>
      <li><a href="#where"><%= t("where") %></a></li>
      <li><a href="#when"><%= t("when") %></a></li>
      <li><a href="#who"><%= t("who") %></a></li>
      <li><a href="#attachments"><%= t("menu.user.resources") %></a></li>
    </ul>
    <div id="what">
      <%= f.inputs do %>
        <%= f.input :owner_id, :as => :hidden, :value => current_user.id %>
        <%= f.input :ownertype, :as => :hidden, :value => "User" %>
        <%= f.input :title %>
        <%= f.input :description, :label => I18n.t("formtastic.labels.meetup.description") %>
      <% end %>
    </div>
    <div id="where">
      <%= f.inputs do %>
        <%= render :partial => "locations/nested_form", :locals => { :f => f, :belongs_to => "meetup" } %>
      <% end %>
    </div>
    <div id="when">
      <%= f.inputs do %>
        <%= render :partial => "events/nested_form", :locals => { :f => f, :belongs_to => "meetup" } %>
      <% end %>
    </div>
    <div id="who">
      <div class="button new">
        <%= link_to "invite users", "#" %>
      </div>
      <%= f.inputs do %>
        <%= f.input :users, :as => :check_boxes, :collection => @meetup.users, :member_label => Proc.new { |u| "#{image_tag(tinyThumb(u), :alt => u.login, :title => u.login)}<br />#{u.login}".html_safe } %>
      <% end %>
    </div>
    <div id="attachments" class="tab_content">
      <%= render :partial => "items/item_attachments", :locals => { :object => @meetup, :f => f } %>
    </div>
  </div>
  <%= f.buttons do %>
    <br />
    <%= f.submit t("save") %>
  <% end %>
<% end %>
