<% if @user %>
  <% if @user == current_user %>
    <div class="button new">
      <%= link_to t("meetup.new"), new_meetup_path %>
    </div>
  <% end %>
<% end %>
<!--
<h2><%= t("title.meetups") %>(<%= @meetups.size %>)</h2>
-->
<% if @meetups.size > 0 %>
  <table>
    <tr>
      <th><%= t("where") %></th>
      <th><%= t("when") %></th>
      <th><%= t("what") %></th>
      <th><%= t("who") %></th>
      <th></th>
    </tr>
    <% @meetups.each do |meetup| %>
      <tr>
        <td><%= meetup.locations.first.city if meetup.locations.size > 0 %></td>
        <td><%= render :partial => "share/events/fromtill", :locals => { :events => meetup.events } if meetup.events.size > 0 %></td>
        <td><%=h link_to meetup.title, meetup, :title => meetup.title %></td>
        <td><%= link_to t("meetup.participants", :count => meetup.users.count), meetup, :title => meetup.title %></td>
        <td><%= render :partial => "usermenu", :locals => { :meetup => meetup} %></td>
      </tr>
    <% end %>
  </table>
<% end %>
