<%= semantic_form_for :message, :url => {:controller => "sent", :action => "create"}, :html => { :id => "message-form" }, :remote => true do |f| %>
  <%= f.error_messages %>
  <div id= "message_errors" style="display:none"></div>
  <%= f.inputs do %>
   <li>
      <% if params[:to] %>
        <%= f.input :to, :label => t("mailbox.to"), :input_html => { :value => params[:to] } %>
      <% else %>
        <%= f.input :to, :label => t("mailbox.to"), :input_html => { :value => params[:id] } %>
        <% end %>
    </li>
    <%= f.input :subject, :label => t("mailbox.subject") %>
    <%= f.input :body, :as => :text, :label => t("mailbox.body")  %>
  <% end %>
  <%= f.buttons do %>
    <%= f.submit t("submit") %>
  <% end %>
<% end %>