<%= content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function (){
     // $('#message-form').railsAjaxValidation();
    });
  </script>
<% end %>
<%= semantic_form_for @message, :as => "message", :url => { :action => "reply", :id => @message.id }, :validate => true, :remote => true do |f| %>
  <%= render "share/error_messages", :target => @message %>

  <div id= "message_errors" style="display:none"></div>
  <%= f.inputs do %>
   <li>
      <% if params[:to] %>
        <%= f.input :to, :label => t("mailbox.to"), :input_html => { :value => params[:to] }, :validate => true %>
      <% else %>
        <%= f.input :to, :label => t("mailbox.to"), :input_html => { :value => @author || params[:id] }, :validate => true %>
        <% end %>
    </li>
    <%= f.input :subject, :required => false, :label => t("mailbox.subject") %>
    <%= f.input :body, :as => :text, :label => t("mailbox.body"), :validate => true  %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :label => t("submit"), :button_html => { :class => "submit", :disable_with => "..." } %>
  <% end %>
<% end %>
