<%= content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function (){
			$('form[data-validate]').validate();
    });
  </script>
<% end %>
<h3><%= t("mailbox.reply") %></h3>
<%= semantic_form_for @message, :as => "message", :url => { :action => "reply", :id => @message.id }, :validate => true, :remote => true do |f| %>
  <%= render "share/error_messages", :target => @message %>

  <div id= "message_errors" style="display:none"></div>
  <%= f.inputs do %>
	<br />
<!--
   <li>
      <% if params[:to] %>
        <%= f.input :to, :label => t("mailbox.to"), :input_html => { :value => params[:to] }, :validate => true, :required => true %>
      <% else %>
        <%= f.input :to, :label => t("mailbox.to"), :input_html => { :value => @author || params[:id] }, :validate => true, :required => true %>
        <% end %>
    </li>
-->
    <%= f.input :subject, :required => false %>
    <%= f.input :body, :as => :text, :required => true, :validate => true, :input_html => { :value => "" } %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :label => t("submit"), :button_html => { :id => "submit_reply_message", :class => "submit", :disable_with => "..." } %>
  <% end %>
<% end %>
