<% if logged_in? and @user == current_user %>
  <div id="profilemenu">
    <ul class="menu horizontal">
      <li><%= nav_link "Profile", "users" %></li>
      <li><%= nav_link "Profile Preview", "profile", current_user.login %></li>
      <li><%= link_to_unless_current "Resources", :controller => "users", :id => "resources", :action => current_user.id %></li>
      <li><%= link_to_unless_current "Pings", :controller => "users", :id => "pings", :action => current_user.id %></li>
    </ul>    
  </div>
<% else %>
  <div id="profilemenu">
    <ul class="menu horizontal">
      <li><%= nav_link "Profile", "profile", @user.login %></li>
      <li><%= link_to_unless_current "Resources", :controller => "profile", :id => "resources", :action => @user.login %></li>
      <li><%= link_to_unless_current "Pings", :controller => "profile", :id => "pings", :action => @user.login %></li>
    </ul>    
  </div>
<% end %>