<% content_for :head do %> 
 <%= stylesheet_link_tag 'jquery.listbuilder.css' %>
 <%= javascript_include_tag 'jquery-ui-listbuilder' %>
  
 <script type="text/javascript">
  $(document).ready(function (){
  
    /* TABS */
    $("#tabs").tabs();
    showErrorTabs();
        
    /* AUTOCOMPLETE AND LISTBUILDER */
    $(" #group_tag_list ").listbuilder({autocomplete:{source: '/groups/tag_suggestions.js'}});
    $(".ui-listbuilder-input").addClass("noEnterSubmit");
    $(".noEnterSubmit").keypress(function(e){
        if ( e.which == 13 ) return false;
    //    if ( e.which == 13 ) e.preventDefault();
    });
    $('.ui-listbuilder-input').addClass('ui-corner-all');
  
  });
 </script>
<% end %>
<%= semantic_form_for @group, :html => {:multipart => true} do |f| %>
  <%= render "share/error_messages", :target => @group %>  
  <div id="tabs">  
    <ul>
        <li><a href="#what"><%= t("what") %></a></li>
        <li><a href="#members"><%= t("form.group.members") %></a></li>
        <li><a href="#where"><%= t("where") %></a></li>
        <li><a href="#images"><%= t("form.resource.images") %></a></li>
        <li><a href="#attachments"><%= t("menu.user.resources") %></a></li>      
    </ul>
    <div id="what">
      <%= f.inputs do %>
        <%= f.input :user_id, :as => :hidden, :value => @user.id %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :tag_list %>
      <% end %>
    </div>
    <div id="members" class="tab_content">
       <%= f.inputs do %>

					<% if @group.members.size > 0 %>
            <%= f.input :members, :as => :check_boxes, :hint => t("formtastic.hints.group.members"), :collection => @group.members, :member_label => Proc.new { |u| "#{render :partial => "share/usertiny_unlinked", :locals => { :user => u }}".html_safe } %>
						<hr /> 
          <% end %>
					<% if @users.size > 0 %>         
					  <%= f.input :members_pending, :as => :check_boxes, :hint => t("formtastic.hints.group.members_pending"), :collection => @users, :member_label => Proc.new { |u| "#{render :partial => "share/usertiny_unlinked", :locals => { :user => u }}".html_safe } %>
          <% else %>
            <%= t("meetup.onlyFollowersAvailableToAdd").html_safe %>
          <% end %>
					
       <% end %>
    </div>
    <div id="where" class="tab_content">
       <%= f.inputs do %>
        <%= render :partial => "locations/nested_form", :locals => { :f => f, :belongs_to => "group" } %>
       <% end %>
    </div>
    <div id="images" class="tab_content">
      <%= f.inputs do %>
		    <%= render :partial => "images/nested_form", :locals => { :f => f, :object => @group } %>
		  <% end %>
    </div>
    <div id="attachments" class="tab_content">
      <%= render :partial => "items/item_attachments", :locals => { :f => f, :object => @group } %>
    </div>
  </div>
  <%= f.actions do %>
    <%= f.action :submit, :label => t("save").html_safe, :button_html => { :id => "group-save" } %>
  <% end %>
<% end %>
