<% content_for :head do %> 
 <%= stylesheet_link_tag 'jquery.listbuilder.css' %>
 <%= javascript_include_tag 'jquery-ui-listbuilder' %>
  
 <script type="text/javascript">
  $(document).ready(function (){
  
    /* TABS */
    $("#tabs").tabs();
    showErrorTabs();

		/* ADDRESSPICKER */
		pickAddressOn('#group_locations_attributes_0_address', <%= raw( @json_location ) %>);
		$('#locationbutton').click(function() {
			resizeAndSetCenter();
		});
        
    /* AUTOCOMPLETE AND LISTBUILDER */
    $(" #group_tag_list ").listbuilder({autocomplete:{source: '/groups/tag_suggestions.js'}});
    $(".ui-listbuilder-input").addClass("noEnterSubmit");
    $(".noEnterSubmit").keypress(function(e){
        if ( e.which == 13 ) return false;
    //    if ( e.which == 13 ) e.preventDefault();
    });
    $('.ui-listbuilder-input').addClass('ui-corner-all');
  
  });
 </script>
<% end %>
<%= semantic_form_for @group, :html => {:multipart => true} do |f| %>
  <%= render "share/error_messages", :target => @group %>  
  <div id="tabs">  
    <ul>
        <li><a href="#what"><%= t("what") %></a></li>
        <li><a href="#members"><%= t("form.group.members") %></a></li>
        <li><a href="#location" id="locationbutton"><%= t("where") %></a></li>
        <li><a href="#images"><%= t("form.resource.images") %></a></li>
        <li><a href="#attachments"><%= t("menu.user.resources") %></a></li>    
        <li><a href="#settings"><%= t("form.resource.settings").html_safe %></a></li>  
    </ul>
    <div id="what">
      <%= f.inputs do %>
        <%= f.input :user_id, :as => :hidden, :value => @user.id %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :tag_list %>
      <% end %>
    </div>
    <div id="members" class="tab_content">
       <%= f.inputs do %>

					<% if @group.members.size > 0 %>
            <%= f.input :members, :as => :check_boxes, :hint => t("formtastic.hints.group.members"), :collection => @group.members, :member_label => Proc.new { |u| "#{render :partial => "share/usertiny_unlinked", :locals => { :user => u }}".html_safe } %>
						<hr /> 
          <% end %>
					<% if @users && @users.size > 0 %>         
					  <%= f.input :members_pending, :as => :check_boxes, :hint => t("formtastic.hints.group.members_pending"), :collection => @users, :member_label => Proc.new { |u| "#{render :partial => "share/usertiny_unlinked", :locals => { :user => u }}".html_safe } %>
          <% else %>
            <%= t("meetup.onlyFollowersAvailableToAdd").html_safe %>
          <% end %>
					
       <% end %>
    </div>
    <div id="location" class="tab_content">
      <%= render :partial => "locations/nested_form", :locals => { :f => f, :belongs_to => "group" } %>
    </div>
    <div id="images" class="tab_content">
      <%= f.inputs do %>
		    <%= render :partial => "images/nested_form", :locals => { :f => f, :object => @group } %>
		  <% end %>
    </div>
    <div id="attachments" class="tab_content">
      <%= render :partial => "items/item_attachments", :locals => { :f => f, :object => @group } %>
    </div>
    <div id="settings" class="tab_content">
      <fieldset class="inputs">
        <ol>
          <%= f.semantic_fields_for :groupsettings do |settings_form| %>
            <li class="select input optional stringish" id="group_settings_visible_for_input">
              <label class="label" for="group_groupsettings_visible_for"><%= t("formtastic.labels.item.settings_visible_for") %></label>
              <%= settings_form.select :visible_for, options_for_select(AppSettings.group.visible_for.values.map { |v| [t("settings.visible_for.#{v}").html_safe, v] }, @setting_visible_for) %>
            </li>
          <% end %>
        </ol>
      </fieldset>
    </div>
  </div>
  <%= f.actions do %>
    <%= f.action :submit, :label => t("save").html_safe, :button_html => { :id => "group-save" } %>
  <% end %>
<% end %>
