<% content_for :head do %> 
 <%= stylesheet_link_tag 'jquery.listbuilder.css' %>
 <%= javascript_include_tag 'jquery-ui-listbuilder' %>
  
 <script type="text/javascript">
  $(document).ready(function (){
  
    /* TABS */
    $("#tabs").tabs();
    showErrorTabs();
        
    /* AUTOCOMPLETE AND LISTBUILDER */
    $(" #group_tag_list ").listbuilder({autocomplete:{source: '/groups/tag_suggestions.js'}});
    $(".ui-listbuilder-input").addClass("noEnterSubmit");
    $(".noEnterSubmit").keypress(function(e){
        if ( e.which == 13 ) return false;
    //    if ( e.which == 13 ) e.preventDefault();
    });
    $('.ui-listbuilder-input').addClass('ui-corner-all');
  
  });
 </script>
<% end %>
<%= semantic_form_for @group, :html => {:multipart => true} do |f| %>
  <%= render "share/error_messages", :target => @group %>  
  <div id="tabs">  
    <ul>
        <li><a href="#what"><%= t("what") %></a></li>
        <li><a href="#members"><%= t("members") %></a></li>
        <li><a href="#where"><%= t("where") %></a></li>
        <li><a href="#images"><%= t("form.resource.images") %></a></li>
        <li><a href="#attachments"><%= t("menu.user.resources") %></a></li>      
    </ul>
    <div id="what">
      <%= f.inputs do %>
        <%= f.input :user_id, :as => :hidden, :value => @user.id %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :tag_list %>
      <% end %>
    </div>
    <div id="members" class="tab_content">
       <%= f.inputs do %>
         <%= f.input :users, :as => :check_boxes, :member_label => Proc.new { |u| "#{image_tag(tinyThumb(u), :alt => u.login, :title => u.login)}<br />#{u.login}".html_safe } %>
       <% end %>
    </div>
    <div id="where" class="tab_content">
       <%= f.inputs do %>
        <%= render :partial => "locations/nested_form", :locals => { :f => f, :belongs_to => "group" } %>
       <% end %>
    </div>
    <div id="images" class="tab_content">
    <%= f.inputs do %>
      <% c = -1 %>
      <li>
        <div class="button new">
          <%= link_to_add_fields t("images.new").html_safe, f, :images %>
        </div>
      </li>
      <%= f.semantic_fields_for :images do |image_form| %>
        <%  c+= 1
          image = nil || @group.images[c].image if !@group.images[c].image.url.include? "missing"
        %>
        <div class="image center ui-corner-all">
          <%= link_to image_tag(image.url("small")), image.url("big") if image %>
          <%# render 'share/image_fields', :f => image_form %>
          <div class="options">
            <%= link_to_function image_tag(("icons/icon_image_edit.png"), :alt => t("edit"), :title => t("edit")), "edit_field(this)" if c < @group.images.count %>
            <%= link_to_remove_fields image_tag(("icons/icon_image_remove.png"), :alt => t("remove"), :title => t("remove")), image_form if c < @group.images.count %>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
    <div id="attachments" class="tab_content">
      <%= render :partial => "items/item_attachments", :locals => { :object => @group, :f => f } %>
    </div>
  </div>
  <%= f.buttons do %>
    <%= f.submit t("save") %>
  <% end %>
<% end %>
