<% if @user %>
  <% if @user == current_user %>
    <div class="button new">
      <%= link_to t("group.new"), new_user_group_path %>
    </div>
  <% end %>
<% end %>             
<% if @groups and @groups.size > 0 %>
  <%= render :partial => "share/list_pagination", :locals => {:collection => collection} %>
  <%= render :partial => "group", :collection => collection %>
<% end %>
<% if @user and @user.groups.size > 0 %>
  <div class="clearfix"></div>
  <h2><%= t("groups.memberships") %></h2>
  <%= @memberships.size %>
<% end %>
