<% if logged_in? %>
  <div class="button new">
    <%= link_to t("group.new"), new_user_group_path(current_user), :id => "group-new" %>
  </div>
  <br />
<% end %>  

<%= render :partial => "share/search/panel", :locals => { :count => @groups_count } %>
          
<% if @groups and @groups.size > 0 %>
  <%= render partial: "collection", locals: { collection: collection } %>
<% end %>
<% if @user and @memberships.size > 0 %>
  <div class="clearfix"></div>
  <h2><%= t("groups.memberships") %> (<%= @memberships.size %>)</h2>
  <%= render partial: "collection", locals: { collection: @memberships } %>
<% end %>
<% if @user and @usergroups.size > 0 %>
  <div class="clearfix"></div>
  <h2><%= t("groups.owning") %> (<%= @usergroups.size %>)</h2>
  <%= render partial: "collection", locals: { collection: @usergroups } %>
<% end %>
