<h1><%= @group.title.html_safe %></h1>
<%= render :partial => "groupmenu", :locals => { :group => @group } %>
<div class="sub2cols">
  <div class="subcol1">
      <%= render :partial => "share/images", :locals => {:images => @group.images} %>
      <% if @group.tags.size > 0 or not @group.description.empty? %>
        <div class="box ui-corner-all">
          <%= render :partial => "share/tags", :locals => { :tags => @group.tags } %>
          <p><%= @group.description.html_safe %></p>
          <%= render :partial => "share/item_attachments", :locals => { :object => @group } %>
        </div>
      <% end %>
  </div>
  <div class="subcol2">
    <% if logged_in? and @group.locations.first and @group.locations.first.lat and @group.locations.first.lng %>
			<div id="location">
		    <h3><%= t("resources.location") %></h3>
		    <%= render :partial => "share/map", :locals => { :locations => @locations_json } %>
		    <%= render :partial => "locations/location", :locals => {:location => @group.locations.first} %>
			</div>
    <% end %>

		<% if logged_in? and @group.owner == current_user and @members_pending.size > 0 %>
			<div id="members-pending">
				<h3><%= t("groups.pendingMembers") %></h3>
				<% @members_pending.each do |user| %>
					<%= render :partial => "share/usertiny", :locals => { :user => user } %>
					<% @grouping = Grouping.find_by_user_id_and_group_id(user.id, @group.id) %>
					<% if not @grouping.owner_id == nil %>  					
						<ul class="font-smaller"">
						  <li class="button center">
						    <%= link_to t("accept"), accept_grouping_path(:id => @grouping.id), :method => :put %>
						  </li>
						</ul>				
					<% end %> 
				<% end %> 
			</div>
		<% end %>
  </div>
</div>
<div class="clearfix" ></div>
<h2><%= t("groups.holder") %></h2>
<%= render :partial => "share/usertiny", :locals => { :user => @group.owner}  %>
<div class="clear"></div>
<% if @members && @members.count > 0 %>
  <h2><%= t("group.participant", :count => @members.count) %></h2>
  <ul class="users-list">
    <% @members.each do |user| %>
      <li class="users-list-item"><%= render :partial => "share/usertiny", :locals => { :user => user } %></li>
    <% end %>
  </ul>
<% end %>
