<h1><%= @group.title.html_safe %></h1>
<div class="sub2cols">
  <div class="subcol1">
      <div class="box ui-corner-all">
        <%= render :partial => "share/tags", :locals => { :tags => @group.tags } %>
        <p><%= @group.description.html_safe %></p>
        <%= render :partial => "share/item_attachments", :locals => { :object => @group } %>
      </div>
  </div>
  <div class="subcol2">
    <% if logged_in? and @group.locations.first %>
      <h3><%= t("resources.location") %></h3>
      <%# "#{@group.locations.first.lat}, #{@group.locations.first.lng}" %>
      <%= render :partial => "share/map", :locals => { :locations => @locations_json } %>
      <%= render :partial => "locations/location", :locals => {:location => @group.locations.first} %>
    <% end %>
  </div>
</div>
<div class="clearfix" ></div>
<h2><%= t("groups.holder") %></h2>
<%= render :partial => "share/usertiny", :locals => { :user => @group.owner}  %>
