<% content_for :head do %>   
  <%= stylesheet_link_tag 'jquery.listbuilder.css' %>
  <%= javascript_include_tag 'jquery-ui-listbuilder' %>
  
  <script type="text/javascript">
  $(document).ready(function (){

    /* TABS */
    $("#tabs").tabs(); 
		$('#tabs h2').hide();	
    showErrorTabs();


    /* STYLING */
    $('.ui-listbuilder-input').addClass('ui-corner-all');
      
  });
	</script>
<% end %>
<h2><%= t("preferences").html_safe %></h2>	
<div id="tabs">  
    <ul>
      <li><a href="#preferences"><%= t("form.user.preferences").html_safe %></a></li>
			<li><a href="#password"><%= t("form.user.changepassword").html_safe %></a></li>			
			<li><a href="#useraccount"><%= t("form.user.useraccount").html_safe %></a></li>
		</ul>
	<div id="preferences">
		<h2><%= t("preferences").html_safe %></h2>	
		<%= semantic_form_for @user, :html => {:multipart => true} do |f| %>
			<%= render "share/error_messages", :target => @user %>
				<%= f.inputs do %>
				<%= f.input :login %>
				<%= f.input :email %>
			<% end %>
			<%= f.actions do %>
			  <%= f.action :submit, :label => t("save") %>
			<% end %>	
		<% end %>
	</div>
	<div id="password">
		<%= semantic_form_for @user, :html => {:multipart => true} do |f| %>
			<%= render "share/error_messages", :target => @user %>
			<%= f.inputs do %>
					<%= f.input :password %>
					<%= f.input :password_confirmation %>
			<% end %>

			<%= f.actions do %>
				<%= f.action :submit, :label => t("changepassword").html_safe %>
			<% end %>
		<% end %>
	</div>
	<div id="useraccount">
		<%= semantic_form_for @user, :html => {:multipart => true} do |f| %>
			<%= f.inputs do %>
				<label><%= t("form.user_preferences.deactivateAccount") %></label>
				<%= f.input :is_active, :as => :boolean, :label => t("formtastic.labels.user_preferences.active") %>
			<% end %>
			<%= f.actions do %>
				<%= f.action :submit, :label => t("save").html_safe %>
			<% end %>
		<% end %>

		<%= semantic_form_for @user, :html => {:multipart => true} do |f| %>
			<%= f.inputs do %>
				<li>
						<p class="inline-hints"><%= t("formtastic.hints.user.destroyed").html_safe %></p>
						<label>&nbsp;</label>	
						<%= link_to t("form.user.quitAccount").html_safe,
						  {:action => "destroy", :id => @user},
							{ :class => "button" },
						  :confirm => t("confirm_delete").html_safe,
					    :method => :delete %>
					</li>
			<% end %>
		<% end %>

		
	</div>
</div>
