<div class="user list-item ui-corner-all">
  <div class="image ui-corner-all"><%= link_to image_tag( tinyThumb(user), :alt => user.login, :title => user.login ), user %></div>
    <div class="font-small left">
      <%= link_to user.login, user %><br />
    </div>
    <div id="description" class="font-smaller">
      <%= link_to t("resource", :count => user.items.size), user_items_path(user) %><br />
      <%= link_to t("ping", :count => user.pings.not_closed.size), user_pings_path(user) if logged_in? %>
      <hr class="divider" />
  		<%
				items_taken =  Item.taken.where('accounts.accountable_id' => user.id, 'accounts.accountable_type' => "User")
        items_given = Item.given.where('accounts.accountable_id' => user.id, 'accounts.accountable_type' => "User")
      %> 
      <%= link_to t("resources.taken", :count => items_taken.size), user_items_path(
							user, 
							"q[accounts_accountable_id_eq]" => user.id,
							"q[accounts_accountable_type_eq]" => "User", 
							"q[accounts_has_taken_eq]" => true
			) %>
			<br />
      <%= link_to t("resources.given", :count => items_given.size), user_items_path(
							user, 
							"q[accounts_accountable_id_eq]" => user.id,
							"q[accounts_accountable_type_eq]" => "User", 
							"q[accounts_has_taken_eq]" => false
			) %>
    </div>
		<!--		
		<div class="menu">
      <ul>
        <li>
          <% if !is_friend?(user) and logged_in? %>
            <%= link_to image_tag("icons/icon_user_add.png", :alt => t("menu.user.addToFriends"), :title => t("menu.user.addToFriends")), polymorphic_path([user, Friendship], :friend_id => user.id), :method => :post %>
          <% end %>
        </li>
      </ul>
    </div>
		-->
</div>
