<% if user %>
  <li class="list-user ui-corner-all">
    <span class="description shadowed ui-corner-all">
      <%= render :partial => "share/usermicro", :locals => { :user => user } %>
      <% if user.aims.size > 0 %>
        <b><%= t("user.aimsTo").html_safe %></b>:
        <% for aim in user.aims %>
          <%= link_to aim, users_path(:aim => aim.name) %>
        <% end %>
        <br />
      <% end %>
      <% if user.wishs.size > 0 %>
        <b><%= t("user.wishesTo").html_safe %></b>:
        <% for wish in user.wishs %>
          <%= link_to wish, users_path(:wish => wish.name) %>
        <% end %>
        <br />
      <% end %>
      <% if user.interests.size > 0 %>
        <b><%= t("user.interestedIn").html_safe %></b>:
        <% for interest in user.interests %>
          <%= link_to interest, users_path(:interest => interest.name) %>
        <% end %>
        <br />
      <% end %>
      
    </span>  
    <%= render :partial => "share/usertiny", :locals => { :user => user } %>

  </li>
<% end %>