<div class="user list-item ui-corner-all">
  <div class="image ui-corner-all"><%= link_to image_tag( tinyThumb(user), :alt => user.login, :title => user.login ), user %></div>
    <div class="font-small left">
      <%=h user.login %><br />
    </div>
    <div id="description" class="font-smaller">
      <%= link_to t("resource", :count => user.items.size), user_items_path(user) %><br />
      <%= link_to t("ping", :count => user.pings.not_closed.size), user_pings_path(user) %>
      <hr class="divider" />
      <%= link_to t("things.taken", :count => user.accounts.taken.size), user_items_path(user) %><br />
      <%= link_to t("things.given", :count => user.accounts.given.size), user_items_path(user) %>
    </div>
    <div class="menu">
      <ul>
        <li>
          <% if !is_friend?(user) and logged_in? %>
            <%= link_to image_tag("icons/icon_user_add.png", :alt => t("menu.user.addToFriends"), :title => t("menu.user.addToFriends")), friendships_path(:friend_id => user), :method => :post %>
          <% end %>
        </li>
      </ul>
    </div>
</div>
