<% if collection %>        
  <div class="content-order-panel status-bar ui-corner-all font-smaller">
    <% if @users_count > 0 %>
      <span>
        <%= t("user", :count => @users_count) %> <%= t("found") %>
        <% if @tags || @tagtype %>
          <%= render :partial => "share/panel_spacer" %>
          <%= render :partial => "/share/tags", :locals => {:tags => @tags, :tagtype => @tagtype} %> 
        <% end %>
      </span>
   <% end %>

    <% if @usersearch  %>
      <%= render :partial => "/share/panel_spacer" %>
      <% if @tag || @tagtype %>
          <%= render :partial => "orderByWithTag" %> 
      <% else %>
          <%= render :partial => "orderBy" %> 
      <% end %>
    <% end %>
  </div>
  
  <div class="center"><%= will_paginate collection %></div>
  <%= render :partial => "user", :collection => collection %>
  <div class="center"><%= will_paginate collection %></div>
<% end %>
