<% if user_signed_in? and @user == current_user %>
  <div class="button edit">
    <%= link_to t("userarea.edit.profile").html_safe, edit_polymorphic_path([@user, "userdetails"]) %>
  </div>
<% end %>
<% if @user %>
  <div class="sub2cols">
    <div class="subcol1">
      <!--
       <%= link_to "Delete User", 
          {:action => "destroy", :id => @user},
          :confirm => t("confirm_delete").html_safe,
          :method => :delete %>
      -->
      <div id="dashboard">
        <h2>Dashboard</h2>
        <div class="block ui-corner-all">
          <div id="users-followers" class="user">
            <span>Followers (<%= @followers.size %>)</span>
            <ul>
            <% @followers.each do |follower| %>
              <li><%= render :partial => "share/usertiny", :locals => { :user => follower } %></li>
            <% end %>
            </ul>
          </div>
          <div id="users-followings" class="user">
            <span>is following (<%= @followings.size %>)</span>
            <ul>
            <% @followings.each do |following| %>
              <li><%=
                 if following.class.to_s == "User"
                  render :partial => "share/usertiny", :locals => { :user => following }
                 elsif following.class.to_s == "Item"
                  render :partial => "share/itemtiny", :locals => { :item => following }
                 elsif following.class.to_s == "Group"
                  render :partial => "share/grouptiny", :locals => { :group => following }
                 end
              %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="subcol2">
      <h2><%= t("user.aims").html_safe %></h2>
      <div class="block ui-corner-all">
        <% for tag in @user.aim_list %>
          <%= link_to tag, users_path({:aim => tag}) %>
        <% end %>
      </div>
      <h2><%= t("user.interests").html_safe %></h2>
      <div class="block ui-corner-all">  
        <% for tag in @user.interest_list %>
          <%= link_to tag, users_path({:interest => tag}) %>
        <% end %>
      </div>
      <h2><%= t("user.wishes").html_safe %></h2>
      <div class="block ui-corner-all">
        <% for tag in @user.wish_list %>
          <%= link_to tag, users_path({:wish => tag}) %>
        <% end %>
      </div>
      
    </div>
  </div>
<% end %>