<div class="change_password">
  <h1><%= t("password.change").html_safe %></h1>
  
  <%= semantic_form_for(resource_name, resource, :url => password_path(resource_name), :html => { :method => :put, :class => "formular shadowed ui-corner-all" }) do |f| %>
    <%= render "share/error_messages", :target => resource %>
    <%= f.inputs do %>
      <%= f.input :reset_password_token, :as => :hidden %>
      <%= f.input :password, :label => t("register.label.password") %>
      <%= f.input :password_confirmation, :label => t("register.label.confirmPassword") %>
    <% end %>
    <%= f.buttons do %>
      <%= f.submit t("password.change_submit").html_safe %>
    <% end %>
  <% end %>
  
  <%= render :partial => "devise/shared/links" %>
</div>