<div class="forgot_password">
  <h1><%= t("login.label.forgotPassword") %></h1>
  <%= semantic_form_for(resource, :url => password_path(resource_name), :html => { :class => "formular shadowed ui-corner-all" }) do |f| %>	
    <%= render "share/error_messages", :target => resource %>
    <%= f.inputs do %>
      <%= f.input :email %>
    <% end %>
    
    <%= f.buttons do %>
      <%= f.submit t("send") %>
    <% end %>
  <% end %>
  <%= render :partial => "devise/shared/links" %>
</div>
