<% content_for :head do %>
  <%= javascript_include_tag 'startpage' %>
  <%= stylesheet_link_tag 'global/startpage' %>
<% end %>

<h1><%=h t("title.welcome") %></h1>
<div class="sub2cols">
  <div class="subcol1">
    
    <ul>
      <li>Do what you want,</li>
      <li>Give what you want & as much you can,</li>
      <li>Be yourself,</li>
      <li>Help others & let others help you.</li>
    </ul>
    <%= link_to t("more") , :controller => "page", :action => "about" %>
    </p>
  </div>  
  <div class="subcol2">
    <h3><b><%= t("title.login") %></b></h3>
    <%= render :partial => "share/login" %>
  </div>  
</div>