<%= content_for :head do %>
  <%= stylesheet_link_tag 'jquery.listBuilder.css' %>
  <%= javascript_include_tag 'jquery.listBuilder' %>

  <script type="text/javascript">
    $(document).ready(function (){
      /* AUTOCOMPLETE & LISTBUILDER */
			$( "#invitation_emails" ).listBuilder({
				onlyAddFromSource: false
			});
/*
			$(".ui-listbuilder-input").addClass("noEnterSubmit");
			$(".noEnterSubmit").keypress(function(e){
				if ( e.which == 13 ) return false;
			});    
*/
		});
  </script>
<% end %>
<%= form_tag "#{request.url.gsub('edit','')}/contacts", :method => :post, :remote => true do |f| %>
	<p class="font-smaller">
			<%= select_tag :provider, options_for_select(Invitation::PROVIDER), {:prompt => "please choose", :class => "ui-corner-all"} %>
		  <%= text_field_tag :username, "christiangrlica@gmail.com", :class => "ui-corner-all" %>
		  <%= text_field_tag :password, "heavenseven", :class => "ui-corner-all" %>
		
			<%= submit_tag 'load contacts', :class => "ui-corner-all" %>
	</p>
<% end %>
<%= semantic_form_for [current_user, @invitation] do |f| %>
  <%= f.inputs do %>
    <%= f.input "emails", :as => :string %>
    <%= f.input :invitationmessage %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
