<% content_for :head do %>
   
  <script type="text/javascript">
  $(document).ready(function (){
      $("#userarea table").dataTable({
      });  
  });
  </script>
<% end %>
<% if @user %>  
  <h2><%= t("title.pings.ofUser") %> (<%= @pings_all.size %>)</h2>      
<% elsif @item %>
  <h3><%= t("title.pings.of") %> <%=h @item.title %></h3>
<% end %>
<% paginated_section @pings_all do %>
  <%= render :partial => "pingtable", :locals => { :collection => @pings_all } if @pings_all.size > 0 %>
<% end %>
