<% content_for :head do %>
   
  <script type="text/javascript">
  $(document).ready(function (){ 
  });
  </script>
<% end %>
<% if @user %>  
  <h2><%= t("title.pings.ofUser") %> (<%= @pings_count %>)</h2>
<% elsif @item %>
  <h2><%= t("title.pings.of") %> <%= link_to @item.title, @item %></h2>
<% end %>
<%= paginated_section @pings_all do %>
  <%= render :partial => "pingtable", :locals => { :collection => @pings_all } if @pings_all.size > 0 %>
<% end %>