<div id="ping_form"></div>
<div id="col1" class="ping">
  <h1>
    <%= t("ping.of") %> <%= @ping.pingedOn?.html_safe %> 
  </h1>
  <p class="right box ui-corner-all font-small <%= statusTitle(@ping) %>">
    <%= t "ping.table.status" %>: <%= t(statusTitle(@ping)).html_safe %>
  </p>
  <p class="font-smaller">
      <%= t("by") %> <%= link_to pingerOf(@ping).login, pingerOf(@ping) %>
  </p>

  <em class="ping body">
  <%=h @ping.body %>
  </em>
  <% if @ping.created_at %>
    <p class="font-smaller"><%= t("created_at") %> <%=h @ping.created_at %></p>
  <% end %>
  <% if @ping.accepted_at %>
    <p class="font-smaller"><%= t("accepted_at") %> <%=h @ping.accepted_at %></p>
  <% end %>
  <hr class="divider" />
  <% if @ping.item %>
    <%= link_to @ping.pingedOn?.html_safe, @ping.item %><br/>
    <p class="font-smaller"><%= t("#{@ping.item.itemtype}.singular").html_safe %> <%= t("by") %> <%= render :partial => "share/usertiny", :locals => { :user => @ping.item.owner } %>
  <% end %>
  </p>
  <%= render :partial => "pings/pingmenu", :locals => { :ping => @ping} %>
</div>
<div id="col2">
  <%= render :partial => "share/comments", :locals => {:commentable => @ping, :comments => @comments} %>
</div>
<div class="clearfix"></div>