<% content_for :head do %>   
  <%= stylesheet_link_tag 'jquery.listbuilder.css' %>
  <%= javascript_include_tag 'jquery-ui-listbuilder' %>
  
  <script type="text/javascript">
  $(document).ready(function (){

    /* TABS */
    $("#tabs").tabs(); 	
    showErrorTabs();
  	
    /* DATEPICKER */
    $("#user_userdetails_attributes_birthdate").datetimepicker(
     {
      changeYear: true,
      changeMonth: true,
	    yearRange: '1910:2010',
     }
    );
  
    /* AUTOCOMPLETE AND LISTBUILDER */
    $(" #user_aim_list ").listbuilder({delimiter: ",", autocomplete:{source: '/items/tag_suggestions.js?c=aims'}});
    // $("#user_aim_list").tokenInput("/items/tag_suggestions.js?c=aims", { crossDomain: false });
    // $(" #user_skill_list ").listbuilder({autocomplete:{source: '/items/tag_suggestions.js?c=skills'}});
    $(" #user_interest_list ").listbuilder({autocomplete:{source: '/items/tag_suggestions.js?c=interests'}});
    $(" #user_wish_list ").listbuilder({autocomplete:{source: '/items/tag_suggestions.js?c=wishes'}});
    $(".ui-listbuilder-input").addClass("noEnterSubmit");
    $(".noEnterSubmit").keypress(function(e){
        if ( e.which == 13 ) return false;
    //    if ( e.which == 13 ) e.preventDefault();
    });
  
    /* STYLING */
    $('.ui-listbuilder-input').addClass('ui-corner-all');
      
  });
	</script>
<% end %>

<%= semantic_form_for @user, :html => {:multipart => true} do |form| %>
  <%= render "share/error_messages", :target => @user %>
  <div id="tabs">  
    <ul>
        <li><a href="#interests"><%= t("form.userdetails.personality").html_safe %></a></li>
        <li><a href="#personal"><%= t("form.userdetails.data").html_safe %></a></li>          
        <li><a href="#location"><%= t("form.userdetails.location").html_safe %></a></li>      
        <li><a href="#avatar"><%= t("form.userdetails.avatar").html_safe %></a></li>
  	</ul>
    <div id="interests">
      <%= form.inputs do %>
          <%= form.input :aim_list, :required => false %>
          <%= form.input :interest_list, :as => :text, :required => false %>
          <%= form.input :wish_list, :as => :text, :required => false %>
      <% end %>
    </div>
    <div id="personal">  
      <%= form.inputs do %>
        <% form.semantic_fields_for :userdetails do |userdetails_form| %>
          <%= userdetails_form.input :firstname, :required => false %>
          <%= userdetails_form.input :lastname, :required => false %>
          <%= userdetails_form.input :birthdate, :as => :string, :required => false, :label => I18n.t("formtastic.labels.userdetails.birthdate") + "&nbsp;" + image_tag("icons/icon_event.png") %>    
          <%= userdetails_form.input :occupation, :required => false %>
          <%= userdetails_form.input :company, :required => false %>
    <!--
          <%= userdetails_form.input :language, :as => :select, :collection => I18n.available_locales, :include_blank => false, :required => false %>
    -->
        <% end %>
      <% end %>
    </div>
    <div id="location"> 
      <%= render :partial => "locations/nested_form_location", :locals => { :f => form, :belongs_to => "user" } %>
    </div>
    <div id="avatar"> 
      <div class="image">
          <p class="center"><%= image_tag smallThumb(@user) %></p>
          <%= form.semantic_fields_for :images do |image_form| %>
            <%= image_form.input :imageable_id, :as => :hidden, :value => @imageable.id if @user.images.count == 0 %>
            <%= image_form.input :imageable_type, :as => :hidden, :value => @imageable.class if @user.images.count == 0 %>
            <div class="options center">
              <%= link_to_remove_fields  image_tag(("icons/icon_delete.png"), :alt => t("remove").html_safe, :title => t("remove").html_safe), image_form if @user.images.count != 0 %>
            </div>
            <%= render 'share/image_fields', :f => image_form %>
          <% end %> 
      </div>
    </div>
  </div>  
  <%= form.buttons do %>
    <br />
    <%= form.submit t("save") %>
  <% end %>
<% end %>
