Hallo <%= @receiver.login %>,
<br />
<%= @sender.login %> hat dich eingeladen der Gruppe '<%= @g.group.title %>' beizutreten.
<br />
<br />
Du kannst die Einladung hier akzeptieren:<br />
<a href="<%= accept_grouping_url(@g) %>"><%= accept_grouping_url(@g) %></a>
