Hello <%= @receiver.login %>,
<br />
<%= @sender.login %> has invited you to join the group '<%= @g.group.title %>'.
<br />
<br />
You can accept the invitation here:<br />
<a href="<%= accept_grouping_url(@g) %>"><%= accept_grouping_url(@g) %></a>
