Hallo <%= @receiver.login %>,
<br />
<%= @sender.login %> möchte deiner Gruppe '<%= @g.group.title %>' beitreten.
<br />
<br />
Du kannst die Anfrage hier akzeptieren:<br />
<a href="<%= accept_grouping_url(@g) %>"><%= accept_grouping_url(@g) %></a>
