Hallo <%= @user.login %>,
<br />
<%= @message %>
<br />
<br />
Besuche das Profil von <a href="<%= @user_url %>" ><%= @holder.login %></a>.<br />
Ressource: <a href="<%= @resource_url %>" ><%= @resource.title %></a> von <%= @holder.login %>.
<br />
<br />
Dein
<br />
IWYG-Team
