<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Hallo <%= @user.login %>,
    <br />
    <%= @message %>
    <br />
    <br />
    Besuche das Profil von <a href="<%= @user_url %>" ><%= @holder.login %></a>.<br />
    <% if @resource.class.to_s == "Item" %>
      Ressource: <a href="<%= @resource_url %>" ><%= @resource.title %></a> von <%= @holder.login %>.
    <% end %>
    <br />
    <br />
    Dein
    <br />
    IWYG-Team
  </body>
</head>
