<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Hello <%= @holder.login %>,
    <br />
    <%= @message %>
    <br />
    <br />
    Visit profile of <%= link_to @user.login, @user_url %>.
    <br />
    You can <a href="<%=h @ping_url %>">view</a>,  <a href="<%=h @holder_pings_url %>">accept or decline</a> this ping.
    <br />
    <br />
    Yours
    <br />
    IWYG-Team
  </body>
</head>
