<%= @sender.login %> has replied:<br /><br />
<pre>
<% if not @message.subject.blank? %>
<b><%= @message.subject %></b><br /><br />
<% end %>
<%= markdown(@message.body) %>
</pre>
<br />
<a href="<%= mailbox_url(@message) %>">See message</a><br />
<%= mailbox_url(@message) %>
