<% content_for :head do %>   
  <%= stylesheet_link_tag 'jquery.listbuilder.css' %>
  <%= javascript_include_tag 'jquery-ui-listbuilder' %>

  <script type="text/javascript">
    $(document).ready(function (){
			 
      /* TABS */
      $("#tabs").tabs();
      showErrorTabs();

			/* ADDRESSPICKER */
			pickAddressOn('#item_location_address', <%= raw( @json_location ) %>);

      /* VALIDATION */
      // $('#new_item').railsAjaxValidation();

      /* LOCATION */
      var address = $("#item_location_attributes_address").attr('value');
      var city =  $("#item_location_attributes_address").attr('value');
      $("#self_location:checkbox").click(function () {
        checked = $(this).attr('checked')
        if (!checked) {
          $("#item_location_attributes_address").attr('value','');
          $("#item_location_attributes_city").attr('value','');
          $("#item_location_attributes_country").find("option:first").attr('value','');
          $("#item_location_attributes_country").find("option:first").html('');
        }
      });
     
      /* AUTOCOMPLETE & LISTBUILDER */
      $( "#item_tag_list" ).listbuilder({autocomplete:{source: '/items/tag_suggestions.js'}});
      $(".ui-listbuilder-input").addClass("noEnterSubmit");
      $(".noEnterSubmit").keypress(function(e){
        if ( e.which == 13 ) return false;
      });
 
      /*
    $('.image .options').hide();
    $('.image').hover(
      function () {
        $(this).find('.options').show();
      },
      function () {
        $(this).find('.options').hide();
      }
    );
       */
  
      /* ATTACHMENTS */
      $('.attachment .select').hide();
    
      /* Add Styles */
      $('.ui-listbuilder-input').addClass('ui-corner-all');

			/* Datetimepicker */
			myDate = $.datepicker.parseDate("dd.mm.yy", "01.02.2013");
			$(".event-from").datetimepicker({dateFormat: "dd.mm.yy", timeFormat: "hh:mm", changeYear: true, defaultDate: "01.01.2013" });
			$(".event-till").datetimepicker({dateFormat: "dd.mm.yy", timeFormat: "hh:mm", changeYear: true, defaultDate: myDate });

  
    });
  </script>
<% end %>
<%= semantic_form_for ([@itemable, @item]), :html => {:multipart => true}, :validate => true do |f| %>
  <%= render "share/error_messages", :target => @item %>
  <div id="tabs">
    <ul>
      <li><a href="#what"><%= t("form.resource.what").html_safe %></a></li>
      <li><a href="#location"><%= t("form.resource.where").html_safe %></a></li>
      <li><a href="#when"><%= t("form.resource.when").html_safe %></a></li>
<!--
      <li><a href="#how_much"><%= t("form.resource.howMuch").html_safe %></a></li>
-->
      <li><a href="#images"><%= t("form.resource.images").html_safe %></a></li>
      <li><a href="#attachments"><%= t("form.resource.attachments").html_safe %></a></li>
    </ul>
    <div id="what" class="tab_content ">
      <%= f.inputs do %>
		    <%= f.input :user_id, :input_html => { :value => current_user.id }, :as => :hidden %>
		    <%= f.input :itemable_id, :input_html => { :value => @itemable.id }, :as => :hidden %>
		    <%= f.input :itemable_type, :input_html => { :value => @itemable.class }, :as => :hidden %>
        <%= f.input :need, :as => :select, :label => t("form.resource.i"), :include_blank => false, :collection => [[t("form.resource.need"), true], [t("form.resource.have"), false]] %>
    <%# f.input :item_type_id, :as => :select, :label => t("form.resource.a"), :collection => options_for_select(ItemType.all.map { |i| [I18n.t("#{i.title}.singular").to_s.html_safe ,i.id ] } ), :include_blank => true %>
        <%= f.input :item_type_id, :as => :select, :label => t("form.resource.a"), :collection => ItemType.all.collect { |i| [I18n.t("#{i.title}.singular").to_s.html_safe ,i.id ] }, :include_blank => true  %>
        <%= f.input :multiple, :required => false %>
        <hr class="divider" />
        <li><%= f.input :title %></li>
        <li id="item_tag_list_input">
          <%= f.input :tag_list, :required => false %>
        </li>
        <%= f.input :description, :required => false %>
      <% end %>
    </div>
<!--
    <div id="how_much" class="tab_content">
      <%= f.inputs do %>
        <%= f.input :amount, :required => false, :input_html => {:class => "short"}, :as => :number %>
    <%# f.semantic_fields_for :measure do |measure_form| %>
        <%= f.input :measure_id, :as => :select, :label => t("formtastic.labels.item.measure"), :collection => @measures, :required => false %>
    <%# end %>
      <% end %>
    </div>
-->
    <div id="location">
      <%= render :partial => "locations/nested_form_location", :locals => { :f => f, :belongs_to => "item" } %>
    </div>
    <div id="when" class="tab_content">
      <%= f.inputs do %>
        <%= render :partial => "events/nested_form", :locals => { :f => f, :belongs_to => "meetup" } %>
      <% end %>
    </div>
    <div id="images" class="tab_content">
      <%= f.inputs do %>
		    <%= render :partial => "images/nested_form", :locals => { :f => f, :object => @item } %>
		  <% end %>
    </div>
    <div id="attachments" class="tab_content">
      <%= render :partial => "items/item_attachments", :locals => { :f => f, :object => @item } %>
    </div>
  </div>
  <%= f.actions do %>
    <%= f.submit t("save") %>
  <% end %>
  </div>
<% end %>
