<% if logged_in? %>
  <ul class="font-smaller horizontal">
  <% if current_user == item.creator %>
    <li class="button"><%= link_to t("edit").html_safe, edit_polymorphic_path([@user, item]) %></li>
    <li class="button"><%= link_to t("delete").html_safe, polymorphic_path([@user, item]),
          :confirm => t("confirm_delete").html_safe,
          :method => :delete %>
    </li>
  <% else %>
		<% if not current_user.following?(item) %>
    	<li class="button"><%= link_to t("follow"), follow_item_path, :method => :put %></li>
	  <% end %>
    <% if not current_user.likes?(item) %>
      <li class="button" id="likebutton"><%= link_to t("like"), self.send("like_item_path", user: current_user, model_id: item.id, model_type: "Item" ), :method => :put, :remote => true %></li>
    <% else %>
      <li class="button" id="unlikebutton"><%= link_to t("unlike"), self.send("unlike_item_path", user: current_user, model_id: item.id, model_type: "Item"), :method => :put, :remote => true %></li>
    <% end %>
  <% end %>
  </ul>
<div class="clear" ></div>
<% end %>
