<% if logged_in? %>
  <ul class="font-smaller horizontal">
  <% if current_user == item.creator %>
    <li class="button"><%= link_to t("edit").html_safe, edit_polymorphic_path([@user, item]) %></li>
    <li class="button"><%= link_to t("delete").html_safe, polymorphic_path([@user, item]),
          :confirm => t("confirm_delete").html_safe,
          :method => :delete %>
    </li>
  <% else %>
    <% if not item.followed_by?(current_user) %>
      <%= render :partial => "share/social/follow", :locals => { user: current_user, model_id: item.id, model_type: "Item"} %>
    <% else %>
      <%= render :partial => "share/social/unfollow", :locals => { user: current_user, model_id: item.id, model_type: "Item"} %>
    <% end %>
    <% if not current_user.likes?(item) %>
      <%= render :partial => "share/social/like", :locals => { user: current_user, model_id: item.id, model_type: "Item"} %>
    <% else %>
      <%= render :partial => "share/social/unlike", :locals => { user: current_user, model_id: item.id, model_type: "Item"} %>
    <% end %>
  <% end %>
  </ul>
<div class="clear" ></div>
<% end %>
