<li class="box ui-corner-all"> 
  <p class="font-smaller">
    <%= image_tag "icons/icon_#{item.itemtype.downcase}.png", :title => item.localized_itemtype, :alt => item.localized_itemtype %>&nbsp; <%= link_to shorten(item.title, 15), item_path(item), :title => item.title %><br />
    <%= t("by") %> <%= link_to item.owner.login, profile_path(item.owner.login) %>
    <br />
    <% if logged_in? && item.locations.first && mainitem.locations.first %>
      <%= item.locations.first.city %>        
      <br />
      <span class="font-smaller">(<%= t("distance") %>: <%= "%.0f" % mainitem.locations.first.distance_from([item.locations.first.lat,item.locations.first.lng], :km) %> km)</span>
      <br />
    <% end %>
    <%= distance_of_time_in_words(item.created_at, Time.now) %> <%= t("ago") %>
  </p>
</li>
