<% content_for :head do %>
  <%= javascript_include_tag 'items' %>
<% end %>

<% if logged_in? and current_user %>
  <div class="button new">
    <%= link_to t("resource.new"), new_polymorphic_path([current_user, Item.new]) %>
  </div>
<% elsif @group and (@group.members.include?(current_user) or @group.owner == current_user) %>
  <div class="button new">
    <%= link_to t("resource.new"), new_group_item_path %>
  </div>
<% end %>      
<%= render :partial => "share/search/panel", :locals => { :count => @items_count } %>

<% if @itemable and !params[:q] %> 
	
  <div class="sub2cols">
    <div class="subcol1">
      <%# if @items_needed.size > 0 %>
        <h2><%= t("title.resources.#{@userSubtitle}Need", :user => @owner) %> (<%= @items_needed.size %>)</h2>
        <div class="block ui-corner-all">
          <%= render :partial => "share/items_needed_offered", :locals => {:resources => @items_needed, :itemTypes => @itemTypes, :need => true } %>
        </div> 
      <%# end %>
    </div>
    
    <div class="subcol2">   
      <%# if @items_offered.size > 0 %>
        <h2><%= t("title.resources.#{@userSubtitle}Have", :user => @owner) %> (<%= @items_offered.size %>)</h2>
        <div class="block ui-corner-all">
          <%= render :partial => "share/items_needed_offered", :locals => {:resources => @items_offered, :itemTypes => @itemTypes, :need => false } %>
        </div>
      <%# end %>
    </div>
    
  </div> 
  <div class="sub2cols">
  
    <div class="subcol1"> 
      <%# if @items_taken.size > 0 %>
       <h2><%= t("title.resources.#{@userSubtitle}HaveTaken", :user => @owner) %> (<%= @items_taken.size %>)</h2>
        <div class="block ui-corner-all">
          <%= render :partial => "share/items_given_taken", :locals => {:resources => @items_taken, :itemTypes => @itemTypes, :taken => true } %>
        </div>
      <%# end %>
    </div>
    
    <div class="subcol1">
      <%# if @items_given.size > 0 %>
        <h2><%= t("title.resources.#{@userSubtitle}HaveGiven", :user => @owner) %> (<%= @items_given.size %>)</h2>
        <div class="block ui-corner-all">
          <%= render :partial => "share/items_given_taken", :locals => {:resources => @items_given, :itemTypes => @itemTypes, :taken => false } %>
        </div> 
      <%# end %>
    </div>
    
  </div>
  
<% else %>
    <%= render :partial => "share/list_pagination", :locals => {:collection => collection} %>
    <%= render :partial => "item", :collection => collection %>
    <%= render :partial => "share/list_pagination", :locals => {:collection => collection} %>
<% end %>
