<% content_for :head do %>
  <%= javascript_include_tag 'items' %>
<% end %>

<% if @user %>
  <% if @user == current_user %>
    <div class="button new">
      <%= link_to t("resource.new"), new_item_path %>
    </div>
  <% end %>
<% end %>
<% if params[:search] %>
  <% if @keywords %>
    <ul class="vertical keywords font-smaller">
    <% @keywords.each do |keyword|  %>
      <li>'<%= keyword %>' was searched in <%= @searchItemType %>s <b><%= search_count(keyword) %></b> times</li>
    <% end %>
    </ul>
  <% end %>
<% end %>
<% if @items_count %>
  <span class="font-smaller"><%= t((@searchItemType.downcase), :count => @items_count) %> <%= t("found") %> &#164;</span>  
  <%= render :partial => "share/tags", :locals => {:tags => @tags, :tagtype => @tagtype} %>
<% end %>
<% if @user %> 
  <div id="accordion">
    <h2><a class="head" href="#"><%= t("title.resources.iNeed") %> (<%= @items_needed.size %>)</a></h2>
    <div class="accontent ">
     <div class="block ui-corner-all">
      <%= render :partial => "share/items_block", :locals => {:resources => @resources_needed, :itemTypes => @itemTypes, :need => 1 } %>
     </div>
     <div class="clearfix"></div>
     <%= render :partial => "item", :collection => @items_needed  if @items_needed %>
      <br class="clearfix" />
    </div>
    <h2><a class="head" href="#"><%= t("title.resources.iHave") %> (<%= @items_offered.size %>)</a></h2>
    <div class="accontent">
     <div class="block ui-corner-all">
      <%= render :partial => "share/items_block", :locals => {:resources => @resources_offered, :itemTypes => @itemTypes, :need => 0 } %>
     </div>
     <div class="clearfix"></div>
     <%= render :partial => "item", :collection => @items_offered %>
     <br class="clearfix" />
    </div>
    <h2><a class="head" href="#"><%= t("title.resources.iHaveTaken") %> (<%= @user.accounts.taken.size %>)</a></h2>
    <div class="accontent">
      <% @user.accounts.taken.each do |account| %>
        <%= render :partial => "item", :locals => { :item => Item.find(account.item_id) } %>  
      <% end %>
      <br class="clearfix" />
    </div>
    <h2><a class="head" href="#"><%= t("title.resources.iHaveGiven") %> (<%= @user.accounts.given.size %>)</a></h2>
    <div class="accontent">
      <% @user.accounts.given.each do |account| %>
        <%= render :partial => "item", :locals => { :item => item(account.item_id) } %>  
      <% end %>
      <br class="clearfix" />
    </div>
  </div>
<% else %>
    <% if $search %>
      <% if @tag || @tagtype %>
        <span class="font-smaller">
          <%= t("sortBy") %> 
          <%= order $search, :by => :title, :as => t("order.title"), :params => { @tagtype => @tag, :page => params[:page] } %>,  
          <%= order $search, :by => :created_at, :as => t("order.date"), :params => { @tagtype => @tag, :page => params[:page] } %>, 
          <%= order $search, :by => :location_city, :as => t("order.location"), :params => { @tagtype => @tag, :page => params[:page] } %>
        </span> 
      <% else %>
        <span class="font-smaller">
          <%= t("sortBy") %> 
          <%= order $search, :by => :title, :as => t("order.title"), :params => { :page => params[:page] } %>, 
          <%= order $search, :by => :created_at, :as => t("order.date"), :params => { :page => params[:page] } %>, 
          <%= order $search, :by => :location_city, :as => t("order.location"), :params => { :page => params[:page] } %>
        </span>
      <% end %>
    <% end %>
    <%= render :partial => "share/item_collection", :locals => {:collection => collection} %>
    <%= render :partial => "item", :collection => collection %>
    <%= render :partial => "share/item_collection", :locals => {:collection => collection} %>
<% end %>