<% content_for(:head) do %>
  <%= javascript_include_tag "/assets/jquery.qrcode.js" %>
  <%= javascript_include_tag "/assets/qrcode.js" %>
  <script type="text/javascript">
    $(document).ready(function (){
      $('#qrcode').qrcode({
        width: 128,
        height: 128,
        text    : "<%= request.url %>"
      });
    });
  </script>
<% end %>
<div id="col1">
  <%= render :partial => "items/itemtype", :locals => { :item => @item } %>
  <h1><%=h @item.title %></h1>         
  <%= render :partial => "items/itemmenu", :locals => { :item => @item } %>
  <%= render :partial => "share/images", :locals => {:images => @item.images} %>
  <% if @item.status %>
    <div class="left box ui-corner-all font-small">
      <% if @item.transfer %>
        <span class="float-right"><%= t("resources.status") %>: <%= link_to t(@item.itemstatus), transfer_path(@item.transfer) %></span>
      <% else %>
        <span>
					<%= t("resources.#{is_needed?(@item)}").html_safe %> <%= t("by").html_safe + " " %>
				</span>
        <span>
					<%= render :partial => "items/itemowner", :locals => { :item => @item } %>
				</span>
      <% end %>
      <% if @item.from || @item.till %>
        <br /><br />
        <p class="font-small">
          <%= t("resources.available").html_safe %>:
          <%
          @begin = @item.created_at
          @end = Time.now
        %>
          <% if @item.from %>
            <span><%= t("resources.from") %> <%= l @item.from.to_date %></span>
            <% @begin = @item.from %>
          <% end %>

          <% if @item.till %>
            <span><%= t("resources.till") %> <%= l @item.till.to_date %></span>
            <% @end = @item.till %>
          <% end %>
          <% if @begin and @end %>
            <br />
            <%= t("resources.duration") %>:
            <%= distance_of_time_in_words(@begin, @end) %>
          <% end %>
        </p>
      <% end %>
    </div>
  <% end %>
  <div class="box ui-corner-all tags">
    <%= render :partial => "share/tags", :locals => { :tags => @item.tags, :model => :items } %>
    <% if @item.description %>
      <%= markdown(@item.description) %>
    <% end %>
    <%= render :partial => "share/item_attachments", :locals => { :object => @item } %>
  </div>
  <%= render :partial => "share/pings", :locals => {:pings => @item.pings, :pingable => @item} %>
</div>
<div id="col2">
  <div class="box ui-corner-all">
    <div class="location">
      <% if logged_in? and ( @location && !@locations_json.blank? ) %>
        <%= render :partial => "locations/location", :locals => {:location => @location} %>
	<%# "#{@locations_json.to_s}" %>
        <%= render :partial => "share/map", :locals => { :locations => @locations_json } %>
      <% end %>
    </div>
    <div id="qrcode">
    </div>
  </div>
  <div class="clear"></div>
  <% if @items_related.size > 0 && @item.tags.size > 0 %>
    <div id="items-related">
      <h3><%= @items_related_title %> (<%= @items_related.size %>)</h3>
      <ul>
        <% for item in @items_related do %>
            <%= render :partial => "itemrelated", :locals => { :item => item, :mainitem => @item } %>
          <% end %>
        </ul>
        <div class="clear"></div>
      </div>
    <% end %>
    <% if @events.size > 0 %>
      <h3>Events (<%= @events.size %>)</h3>
      <ul class="font-smaller box ui-corner-all">
        <% for event in @events do %>
            <li>
              <%= render :partial => "events/eventaction", :locals => { :event => event } %>
              <%= t("start") %>: <%= l event.from, :format => :short if event.from %><br />
              <%= t("end") %>: <%= l event.till, :format => :short if event.till %><br />
            </li>
          <% end %>
        </ul>
      <% end %>
      <%= render :partial => "share/comments", :locals => {:commentable => @item, :comments => @comments} %>
    </div>
    <div class="clearfix"></div>
