<% if @user_preferences %>
<p>
  <b>User:</b>
  <%= @user_preferences.user_id %>
</p>

<p>
  <b>Custom:</b>
  <%= @user_preferences.custom_id %>
</p>

<p>
  <b>Language:</b>
  <%= @user_preferences.language %>
</p>

<p>
  <b>Active:</b>
  <%= @user_preferences.active %>
</p>


<%= link_to 'Edit', edit_user_preference_path(@user_preferences) %> |
<%= link_to 'Back', user_preferences_index_path %>
<% end %>
