<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_preference.user_id %>
</p>

<p>
  <b>Custom:</b>
  <%= @user_preference.custom_id %>
</p>

<p>
  <b>Language:</b>
  <%= @user_preference.language %>
</p>

<p>
  <b>Active:</b>
  <%= @user_preference.active %>
</p>


<%= link_to 'Edit', edit_user_preference_path(@user_preference) %> |
<%= link_to 'Back', user_preferences_path %>
