<div class="measure-item">
    <p class="font-small"><%=h measure.title %></p>
    <p class="font-small"><%=h measure.desc %></p>
    <p class="font-small"><%= link_to 'Show', measure %></p>
    <p class="font-small"><%= link_to 'Edit', edit_measure_path(measure) %></p>
    <p class="font-small"><%= link_to 'Destroy', measure, :confirm => 'Are you sure?', :method => :delete %></p>
</div>
  
