<% content_for :head do %>   
 <%= GMap.header(:hl=> params[:locale]) if @map %>
 <%= @map.to_html if @map %>
<% end %>
<%= render "share/map" %>
<% f.inputs do %>
  <% f.semantic_fields_for :locations do |location_form| %>
    <%= location_form.input :address, :required => false, :label => t("formtastic.labels.location.address") %>
    <%= location_form.input :city, :required => false, :label => t("formtastic.labels.location.city") %>
    <%= location_form.input :zip, :required => false, :input_html => {:class => "short"}, :label => t("formtastic.labels.location.zip") %>
    <li class="locations_attribute_country">
      <label><%= t ("formtastic.labels.location.country") %></label>
      <%= location_form.localized_country_select :country, $priority_countries, :include_blank => '' %>
    </li>
  <% end %>
<% end %>