<center>
	<div id="map" style="width: 90%;height: 300px;margin: 10px 0 10px 0;-webkit-box-shadow: #AAA 0px 0px 15px;"></div>
	<br />
</center>
<%= f.inputs do %>
  <% f.semantic_fields_for :locations do |location_form| %>
    
    <%= location_form.input :address, :required => false, :label => t("formtastic.labels.location.address") %>
    <%= location_form.input :city, :required => false, :label => t("formtastic.labels.location.city") %>
    <%= location_form.input :state, :required => false, :label => t("formtastic.labels.location.state") %>
    <%= location_form.input :zip, :required => false, :input_html => {:class => "short"}, :label => t("formtastic.labels.location.zip")  %>
    <%= location_form.input :country, :required => false, :label => t("formtastic.labels.location.country"), :as => :string %>

  <% end %>
<% end %>
