<% rendering_start = Time.now %>
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<% set_meta_tags site: 'iwyg', title: @page_title || t('iwyg.title'), separator: '-' %>
	<% description @page_description || t('meta.description') %>
	<% keywords @page_keywords || t('meta.keywords') %>
	<%= display_meta_tags :site => 'iwyg' %>
  <%= stylesheet_link_tag "application", :media => "screen" %>
  <%= stylesheet_link_tag "themes/iwyg/jquery-ui-1.8.11.custom", :media => "screen" %>
  <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->
	<%= users_browser %>	
	<%= javascript_include_tag "//maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "application" %>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  
	<meta http-equiv="imagetoolbar" content="no">

	<%= favicon_link_tag "favicon.ico" %>
	<link rel="apple-touch-icon" href="assets/iwyg_apple-icon.png">
  <%= csrf_meta_tag %>
  
  <script type="text/javascript">
    $(document).ready(function (){    
      // localization of datetimepicker 
      locale = '<%= t ("meta.locale") %>'; 
      $.timepicker.setDefaults($.timepicker.regional[locale]);
      $.datepicker.setDefaults($.datepicker.regional[locale]);
      options = {dateFormat: "dd.mm.yy", timeFormat: "hh:mm", inline:true, stepMinute: 5, changeYear: true};
      $('#searchextended #from').datetimepicker(options);
      $('#searchextended #till').datetimepicker({dateFormat: "dd.mm.yy", timeFormat: "hh:mm", inline:true, stepMinute: 5, changeYear: true});
      $('.ui-datepicker').addClass('shadowed');  

			// addresspicker for search panel
			$('#near').addresspicker({
				regionBias: "<%= I18n.locale.to_s %>" 
			});

			<% if logged_in? %>
				// notification panel			
				togglePanel('#notification-icon', '#notification-panel');
			<% end %>
    });
  </script>
  
  <%= yield :head %>
  <% unless Rails.env.test? %>
		<%= render :partial => "share/googleanalytics" %>
  <% end %>
</head>
<body>
<%= yield :facebook %>
<div id="container">
  <div id="header">
    <div id="logo">
      <%= link_to image_tag("iwyg_logo.png"), root_path %>
    </div>
    <%= render :partial => 'share/search/search', :locals => { :search => @search } %>
    
    <%= render :partial => 'share/navigation/topnavigation' %>
  </div>
  <% if (not flash[:notice].blank?) || (not notice.blank?) %>
    <div class="notice ui-corner-all" id="flash_notice">
      <%= flash[:notice].html_safe || notice.html_safe %>
    </div>
  <% end %>
  <% if (not flash[:error].blank?) || (not alert.blank?) %>
    <div class="error ui-corner-all" id="flash_error">
      <%= flash[:error] || alert.html_safe %>
    </div>
  <% end %>
	<%= render :partial => 'share/navigation/notifications' if logged_in? %>
  <%= render :partial => 'share/navigation/mainnavigation' %>
  <div id="content">   
  	<%= yield %>
  </div>
  
  <div id="footerwrap">
    <div id="weed"> 
    </div>
  </div>
  <div id="footer">
		<div id="footernavigation">
			<ul>
				<li><a href="/imprint"><%= t("title.footer.imprint") %></a></li>
				<li><a href="/agb"><%= t("title.footer.tos") %></a></li>
				<li><a href="/privacypolicy"><%= t("title.footer.privacypolicy") %></a></li>
				<li><a href="https://www.transifex.com/projects/p/iwyg/" target="_blank"><%= t("title.footer.helptotranslate") %></a></li>
			</ul>
			<ul>
				<li><a href="http://www.github.com/heaven7/iwyg" title="<%= t("title.footer.github") %>" target="_blank"><img src="/assets/icons/social/github.png" alt="<%= t("title.footer.github") %>" /></a>						
				<li><a href="http://www.facebook.com/iwantyouget" title="<%= t("title.footer.facebook") %>" target="_blank"><img src="/assets/icons/social/facebook.png" alt="<%= t("title.footer.facebook") %>" /></a>
			</ul>
		  <%= render :partial => 'share/languages' %>
    </div>
       <!-- gmaps4rails -->
       <%= yield :scripts %>
  </div>
</div>
<% if ENV["RAILS_ENV"] != "production" %>
  <%= debug(params) %>
<% end %>                   
<!-- devise_rpx -->
<%# javascript_include_rpx(user_session_url) %>

<!-- goSquared -->

<% if ENV["RAILS_ENV"] == "production" %>
  <script type="text/javascript">
    var GoSquared = {};
    GoSquared.acct = "GSN-127620-P";
    (function(w){
      function gs(){
        w._gstc_lt = +new Date;
        var d = document, g = d.createElement("script");
        g.type = "text/javascript";
        g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
        var s = d.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(g, s);
      }
      w.addEventListener ?
        w.addEventListener("load", gs, false) :
        w.attachEvent("onload", gs);
    })(window);
  </script>
<% end %>        
</body>
</html>
