<% rendering_start = Time.now %>
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag "style", "token-input", "formtastic", "formtastic_changes", "jquery.autocomplete", :cache => 'base' %>
  <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "rails.validations" %>
  <%# javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" %> 
  <%= javascript_include_tag "jquery-ui-timepicker-addon.js" %>                                               
  <%= javascript_include_tag "jquery.tokeninput" %>
  <%= javascript_include_tag "jquery.colorbox" %>
  <%= stylesheet_link_tag "colorbox.css" %>  
  <%= stylesheet_link_tag "themes/iwyg/jquery.ui.theme.css" %>  
  <%= stylesheet_link_tag "themes/iwyg/jquery-ui-1.8.11.custom.css" %> 
  <%= javascript_include_tag "i18n/jquery-ui-i18n.js" %>
  <%= stylesheet_link_tag "themes/iwyg/agents/#{users_browser}" if File.exist?("public/stylesheets/themes/iwyg/agents/#{users_browser}.css") %>
  <%# stylesheet_link_tag 'gmaps4rails' %>
  <%= csrf_meta_tag %>
  
  <script type="text/javascript">
    $(document).ready(function (){    
      /* localization of datetimepicker */
      locale = '<%= t ("meta.locale") %>'; 
      $.timepicker.setDefaults($.timepicker.regional[locale]);
      $.datepicker.setDefaults($.datepicker.regional[locale]);
      
      $('#searchextended #from').datetimepicker({inline:true, stepMinute: 5});
      $('#searchextended #till').datetimepicker({inline:true, stepMinute: 5});
      $('.ui-datepicker').addClass('shadowed');  
    });
  </script>
  
  <%# javascript_include_tag "jquery.url" %>
  <%= yield :head %>
  
  <script type="text/javascript">

    /* Google Analytics */
    
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32738329-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
  <title><%= @title or t("iwyg.title") %></title>
</head>
<body>
<div id="container">
  <div id="header">
    <div id="logo">
      <%= link_to image_tag("/images/iwyg_logo.png"), root_path %>
    </div>
    <%= render :partial => 'share/search/search', :locals => { :search => @search } %>
    
    <%= render :partial => 'share/topnavigation' %>
  </div>
  <% if (not flash[:notice].blank?) || (not notice.blank?) %>
    <div class="notice ui-corner-all" id="flash_notice">
      <%= flash[:notice].html_safe || notice.html_safe %>
    </div>
  <% end %>
  <% if (not flash[:error].blank?) || (not alert.blank?) %>
    <div class="error ui-corner-all" id="flash_error">
      <%= flash[:error] || alert.html_safe %>
    </div>
  <% end %>
  <div id="mainnavigation">
      <ul class="menu horizontal">
        <li id="resources"><%= link_to_unless_current t("menu.main.resources"), items_path %>
          <ul class="submenu ui-corner-all shadowed">
            <li><%= link_to t("good.plural").html_safe, items_path("q[item_type_id_eq]" => 1) %></li> 
            <li><%= link_to t("transport.plural").html_safe, items_path("q[item_type_id_eq]" => 2) %></li>
            <li><%= link_to t("service.plural").html_safe, items_path("q[item_type_id_eq]" => 3) %></li> 
            <li><%= link_to t("sharingpoint.plural").html_safe, items_path("q[item_type_id_eq]" => 4) %></li> 
            <li><%= link_to t("knowledge.plural").html_safe, items_path("q[item_type_id_eq]" => 5) %></li>   
            <li><%= link_to t("skill.plural").html_safe, items_path("q[item_type_id_eq]" => 6) %></li>
          </ul>
        </li>
        <li><%= link_to_unless_current t("menu.main.members"), users_path %></li>
        <li><%= link_to_unless_current t("menu.main.groups"), groups_path %></li>
        <li><%# link_to_unless_current t("menu.main.projects"), projects_path %></li>
<!--        
        <li><%# link_to_unless_current t("menu.main.about"), :controller => "page", :action => "about" %></li>
        <% if user_signed_in? %>
          <li><%# link_to_unless_current t("menu.main.help"), :controller => "page", :action => "help" %></li>
        <% end %>
-->
      </ul>
    </div>
  <div id="content">
    <%=  yield %>
  </div>
  
  <div id="footerwrap">
    <div id="weed"> 
    </div>
  </div>
  <div id="footer">
    <!--
    <% rendering_stop = Time.now %>
    <% rendering_time = rendering_stop - rendering_start %>
    <%= "Rendered in #{rendering_time} seconds" %>
    -->
    <div id="footernavigation">
      <h4>Languages</h4>
      <ul id="languages">
       <% I18n.available_locales.each do |locale| %>
         <% unless locale == :locale %>
          <li><%= link_to image_tag(
            "flags/#{locale}.png", 
            :alt => I18n.t("meta.language_name", :locale => locale.to_sym),
            :title => I18n.t("meta.language_name", :locale => locale.to_sym)
            ),
            locale_url(request.fullpath, locale) 
          %></li>
         <% end %>
       <% end %>
       </ul>
       <! -- gmaps4rails -->
       <%= yield :scripts %>
    </div>
  </div>
</div>
<% if ENV["RAILS_ENV"] != "production" %>
  <%= debug(params) %>
<% end %>                   
<! -- devise_rpx -->
<%# javascript_include_rpx(user_session_url) %>
</body>
</html>