<% rendering_start = Time.now %>
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag "style", "token-input", "formtastic", "formtastic_changes", "jquery.autocomplete" %>
  <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->
  <%# stylesheet_link_tag "colorbox.css" %>
  <%= stylesheet_link_tag "gmaps4rails.css" %>
  <%= stylesheet_link_tag "themes/iwyg/jquery.ui.theme.css" %>
	<link href="http://fonts.googleapis.com/css?family=Signika+Negative:600,400" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag "themes/iwyg/jquery-ui-1.8.11.custom.css" %>
  <%= stylesheet_link_tag "themes/iwyg/agents/#{users_browser}" if File.exist?("app/assets/stylesheets/themes/iwyg/agents/#{users_browser}.css") %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui.js" %>
  <%= javascript_include_tag "i18n/jquery-ui-i18n.js" %>
  <%# javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" %> 
  <%= javascript_include_tag "jquery-ui-timepicker-addon.js" %>                                               
  <%= javascript_include_tag "jquery.tokeninput" %>
  <%# javascript_include_tag "jquery.colorbox" %>
  <%= javascript_include_tag "gmaps4rails/gmaps4rails.base" %>
  <%= javascript_include_tag "gmaps4rails/gmaps4rails.googlemaps" %>

  <%= csrf_meta_tag %>
  
  <script type="text/javascript">
    $(document).ready(function (){    
      /* localization of datetimepicker */
      locale = '<%= t ("meta.locale") %>'; 
      $.timepicker.setDefaults($.timepicker.regional[locale]);
      $.datepicker.setDefaults($.datepicker.regional[locale]);
      
      $('#searchextended #from').datetimepicker({inline:true, stepMinute: 5});
      $('#searchextended #till').datetimepicker({inline:true, stepMinute: 5});
      $('.ui-datepicker').addClass('shadowed');  
    });
  </script>
  
  <%= yield :head %>
  <% unless Rails.env.test? %>
		<script type="text/javascript">
		  /* Google Analytics */
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-32738329-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
  <% end %>
  <title><%= @title or t("iwyg.title") %></title>
</head>
<body>
<div id="container">
  <div id="header">
    <div id="logo">
      <%= link_to image_tag("iwyg_logo.png"), root_path %>
    </div>
    <%= render :partial => 'share/search/search', :locals => { :search => @search } %>
    
    <%= render :partial => 'share/navigation/topnavigation' %>
  </div>
  <% if (not flash[:notice].blank?) || (not notice.blank?) %>
    <div class="notice ui-corner-all" id="flash_notice">
      <%= flash[:notice].html_safe || notice.html_safe %>
    </div>
  <% end %>
  <% if (not flash[:error].blank?) || (not alert.blank?) %>
    <div class="error ui-corner-all" id="flash_error">
      <%= flash[:error] || alert.html_safe %>
    </div>
  <% end %>
  <%= render :partial => 'share/navigation/mainnavigation' %>
  <div id="content">
    <%=  yield %>
  </div>
  
  <div id="footerwrap">
    <div id="weed"> 
    </div>
  </div>
  <div id="footer">
    <!--
    <% rendering_stop = Time.now %>
    <% rendering_time = rendering_stop - rendering_start %>
    <%= "Rendered in #{rendering_time} seconds" %>
    -->
    <div id="footernavigation">
       <%= render :partial => 'share/languages' %>
       <! -- gmaps4rails -->
       <%= yield :scripts %>
    </div>
  </div>
</div>
<% if ENV["RAILS_ENV"] != "production" %>
  <%= debug(params) %>
<% end %>                   
<! -- devise_rpx -->
<%# javascript_include_rpx(user_session_url) %>
</body>
</html>
