<h2><%=h t("title.mailbox" )%></h2>
<div class="button new">
  <%# link_to t("mailbox.newMessage"), new_sent_path %>
</div>
<div id="mailbox" class="ui-corner-all">
  <div class="subcol1">
    <div class="menu folder">
      <ul class="horizontal">
        <% for folder in current_user.folders do %>
          <li class="button">
		<%= link_to_unless_current t("mailbox.#{folder.title.downcase}"), mailbox_path(folder) %>
          </li>
        <% end %>
        <li class="button">
		<%= nav_link t("mailbox.sent"), :sent %>
	</li>
      </ul>
    </div>
  </div>
  <div id="usermessages">
    <%= yield %>
  </div>   
</div>
<%= parent_layout 'application' %>
