<h2><%=h t("title.mailbox" )%></h2>
<div id="mailbox" class="sub2cols ui-corner-all">
  <div id="usermailbox" class="subcol1">
    <div class="menu folder">
      <ul class="horizontal">
        <%# for folder in current_user.folders do %>
          <li class="button"><%= link_to_unless_current t("mailbox.inbox"), mailbox_path(current_user) %></li>
        <%# end %>
        <li class="button"><%= link_to_unless_current t("mailbox.sent"), sent_index_path %></li>
      </ul>
    </div>
  </div>
  <div id="usermessages">
    <%= yield %>
  </div>   
</div>
<%= parent_layout 'application' %>
